<h1>About</h1>
<h3>Gregory Thaczuk</h3>


<a href="http://github.com/thaczuk"><p>Github</p>
<a href="http://twitter.com/thaczuk"><p>Twitter</p></a>
<a href="http://facebook.com/thaczuk"><p>Facebook</p></a>