<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack with Ruby, Sinatra & Twitter Bootstrap</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/">Blackjack</a></li>
              <li><a href="rules">Rules</a></li>
              <li><a href="about">About</a></li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @alert_message %>
      <div class="alert <%= @alert_type %>"><%= @alert_message %></div>
    <% end %>
      <%= yield %>
  </div>
  </body>
</html>
