<div class="hero-unit">
  <h3>What is your name?</h3>
  <div class="row-fluid">
    <div class="span12">
      <form action='/new_player' method="post" >
        <input type="text" name="player_name" placeholder="Name" />
        <button type="submit" class="btn btn-mini">Submit</button>
      </form>
    </div>
  </div>
</div>