<h1>What is your name?</h1>
<form action='/new_player' method="post" >
  <fieldset>
    <input type="text" name="player_name" placeholder="Name" />
    <button type="submit" class="btn btn-mini">Submit</button>
  </fieldset>
</form>